
.contents {
    margin-top:26px;
}


#visual_paging {
    position: absolute;
    left: 45px;
    bottom: 45px;
    text-align: left;
    z-index: 101;
    margin: 0;
}
#visual_paging a{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 9px;
    background: url(./img/visual/btn/visual_paging.png) no-repeat;
    vertical-align: top;
    font-size: 0;
}

#visual_paging button {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(./img/visual/btn/visual_stop.png) no-repeat;
    font-size: 10px;
    vertical-align: top;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}

.contents {
    margin-left: 190px;
}

.slider {
    position: relative;
    margin-left: 30px;
}
.slides {
    position: relative;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 1180px;
    height: 440px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.01s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


.slides img {
    position: absolute;
}

.slider  a {
    justify-content: center;
    position: relative;
}

#year_month {
    position: relative;
    top: 10px;
    left: 50%;
    width: 230px;
    height: 50px;
    margin-left: -115px;
    font-size: 30px;
    font-family: Arial;
    color: #000;
    text-align: center;
}
#year_month div {
    padding-top: 5px;
}

#calender_date li {
    display: table-cell;
    height: 36px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

#calender_date {
    display: table;
    padding-left: 0;
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

#schedule_calender {
    background-color: white;
    margin-left: 30px;
}


.sunday {
    color: red;
}

#calender_list ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #e1e4eb;
}

#calender_list li:nth-child(odd) {
    background: #f0f1f5;
}

#calender_list li {
    display: table-cell;
    box-sizing: border-box;
    height: 73px;
    padding: 8px 15px;
    font: 12px/1.5 Sans-serif;
    color: #666;
}

time {
    display: block;
    padding-bottom: 2px;
    font-weight: 600;
    color: #0071bd;
}

#calender_cont {
    display: table;
    width: 100%;
    margin: 0;
    padding:0;
    table-layout: fixed;
    border-top: 1px solid #e1e4eb;
}